.git/
.github/
.idea/
.claude/
.vscode/

var/
vendor/
node_modules/

k8s/

.env.local
.env.*.local

tests/
phpunit.xml.dist
phpunit.ci.xml
.phpunit.result.cache

*.md
docker-compose*.yaml
compose*.yaml
compose.override.yaml
