
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/.env.prod.php
/.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
composer.lock


/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
###< symfony/framework-bundle ###
!/composer.lock
docker-compose.yaml

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
