<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido</title>
    <style>
        .contentDiv {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .contentImgLogo {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .contentTextTitle {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        .titleText {
            color: rgb(175, 1, 1);
            font-size: 20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        .contentTextSubTitle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        .subTitleText {
            color: rgb(175, 1, 1);
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        .contentCode {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
        .divContentCode {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            border-radius: 10px;
            border: 2px solid rgb(143, 140, 140);
        }
        .codeText {
            color: rgb(175, 1, 1);
            font-size: 24px;
            font-weight: bold;
            padding: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .footerContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            padding-top: 20px;
            padding-bottom: 20px;
            gap: 10px;
            background: rgb(175, 1, 1);
        }
        .footerText {
            font-size: 12px;
            color: white;
            text-align: center;
            padding-left: 5px;
            padding-right: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
<div class="contentDiv">
    <div class="contentImgLogo">
        <img src="{{ asset('comremit.png') }}" alt="Comremit" />
    </div>
    <div class="contentTextTitle">
        <h3 class="titleText">Cambio de contraseña</h3>
        <h3 class="titleText">/</h3>
        <h3 class="titleText">Change password</h3>
    </div>
    <div class="contentTextSubTitle">
        <spam class="subTitleText">
            Hemos recibido una solicitud de cambio de contraseña. El código de validación de su cuenta es:
        </spam>
        <spam class="subTitleText">
            We have received a request to change your password. The validation code for your account is:
        </spam>
    </div>
    <div class="contentCode">
        <div class="divContentCode">
            <!-- Here is the code that is sent in the email -->
            <p class="codeText">{{ code }}</p>
        </div>
    </div>
    <div class="contentTextSubTitle">
        <spam class="subTitleText">
            Si no ha sido usted el que ha realizado la solicitud de cambio, no es necesario que realice ninguna acción.
        </spam>
        <spam class="subTitleText">
            If you did not make the change request, you do not need to take any action.
        </spam>
    </div>
    <div class="footerContent">
        <spam class="footerText">Comremit Solutions SL</spam>
        <spam class="footerText">
            Pasaje del Carme, 24, Sant Cugat del Vallés, 08173. Barcelona, España
        </spam>
        <spam class="footerText">CIF: B10583565</spam>
        <p class="footerText">
            <a href="https://dashboard.comremit.com/reset-password">
                dashboard.comremit.com
            </a>
        </p>
    </div>
</div>
</body>
</html>
